backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)
publish_mode: editorial_workflow
media_folder: static/images
public_folder: images
collections:

  - name: "authors"
    label: "Authors"
    folder: "content/authors"
    create: true
    fields:
      - {label: "Id", name: "id", widget: "hidden", default: "author_{{hour}}{{minute}}{{second}}"}
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Nationality", name: "nationality", widget: "string"}
      - {label: "Birth_year", name: "birth_year", widget: "number"}
      - {label: "Fields", name: "fields", widget: "select", multiple: true,
         options: ["Database Systems", "Operating Systems", " Distributed computing",
          "Compilers","Data Structures"]}
      - {label: "Image", name: "image", widget: "image",
           media_folder: '/static/images/authors'}
      - {label: "Body", name: "body", widget: "markdown"}

  #propiedades de album: id, name, compositor, year, number_songs, duration
  - name: "albums"
    label: "Albums"
    folder: "content/albums"
    create: true
    fields:
      - {label: "Id", name: "id", widget: "hidden", default: "album_{{hour}}{{minute}}{{second}}"}
      - {label: "Name", name: "name", widget: "string"}
      - {label: "compositor", name: "compositorId", widget: "relation",
          collection: "compositors", search_fields: ["name"], value_field: "id",
          display_fields: ["name"]}
      - {label: "Year", name: "year", widget: "number"}
      - {label: "Number_songs", name: "number_songs", widget: "number"}
      - {label: "Duration", name: "duration", widget: "string"}
      - {label: "Image", name: "image", widget: "image",
           media_folder: '/static/images/albums'}
      - {label: "Body", name: "body", widget: "markdown"}

  #propiedades de compositor: id, name, nationality, birth_year, number_songs
  - name: "compositors"
    label: "Compositors"
    folder: "content/compositors"
    create: true
    fields:
      - {label: "Id", name: "id", widget: "hidden", default: "compositor_{{hour}}{{minute}}{{second}}"}
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Nationality", name: "nationality", widget: "string"}
      - {label: "Birth_year", name: "birth_year", widget: "number"}
      - {label: "Fields", name: "fields", widget: "select", multiple: true,
         options: ["Happy song", "Mi villano Favorito", "You're the one that i want",
          "Alvin y las ardillas","Aventura","Married Life","Sing","Pantera","Funk","Rock Electr贸nico"]}
      - {label: "Image", name: "image", widget: "image",
           media_folder: '/static/images/compositors'}
      - {label: "Body", name: "body", widget: "markdown"}
  
  #propiedades de pelicula: id, name, direction, country, year, duration, genere      
  - name: "peliculas"
    label: "Peliculas"
    folder: "content/peliculas"
    create: true
    fields:
      - {label: "Id", name: "id", widget: "hidden", default: "pelicula_{{hour}}{{minute}}{{second}}"}
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Direction", name: "direction", widget: "string"}
      - {label: "Country", name: "country", widget: "string"}
      - {label: "Year", name: "year", widget: "number"}
      - {label: "Duration", name: "duration", widget: "string"}
      - {label: "Genere", name: "genere", widget: "select", multiple: true,
         options: ["Familiar", "Animaci贸n", "Terror",
          "Ciencia Ficci贸n","Aventura","Comedia","Comedia Romantica",
          "Musical","Suspenso","Super Heroes","Acci贸n","Live Action"]}
      - {label: "album", name: "albumId", widget: "relation",
          collection: "albums", search_fields: ["name"], value_field: "id",
          display_fields: ["name"]}
      - {label: "Image", name: "image", widget: "image",
           media_folder: '/static/images/peliculas'}
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "publishers"
    label: "Publishers"
    folder: "content/publishers"
    create: true
    fields:
      - {label: "Id", name: "id", widget: "hidden", default: "publisher_{{hour}}{{minute}}{{second}}"}
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Country", name: "country", widget: "string"}
      - {label: "Founded", name: "founded", widget: "number"}
      - {label: "Genere", name: "genere", widget: "select", multiple: true,
         options: ["Academic", "Education", " Computer Science"]}
      - {label: "Image", name: "image", widget: "image",
           media_folder: '/static/images/publishers'}
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "books"
    label: "Books"
    folder: "content/books"
    create: true
    fields:
      - {label: "Id", name: "id", widget: "hidden", default: "book_{{hour}}{{minute}}{{second}}"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Edition", name: "edition", widget: "string"}
      - {label: "Copyright", name: "copyright", widget: "number"}
      - {label: "Language", name: "language", widget: "string"}
      - {label: "Pages", name: "pages", widget: "number"}
      - {label: "Author", name: "authorId", widget: "relation",
          collection: "authors", search_fields: ["name"], value_field: "id",
          display_fields: ["name"]}
      - {label: "Publisher", name: "publisherId", widget: "relation",
          collection: "publishers", search_fields: ["name"], value_field: "id",
          display_fields: ["name"]}
      - {label: "Image", name: "image", widget: "image",
           media_folder: '/static/images/books'}
      - {label: "Body", name: "body", widget: "markdown"}